.connect {
  background: url("../img/tg-bg.png") no-repeat center;
  //background-size: 100%;
}

.connect .container {
  padding-top: 60px;
  padding-bottom: 60px;

  @include rm(768){
    padding-top: 120px;
  }
}

.connect__title {
  margin-bottom: 30px;
  text-align: center;

  @include rm(768){
    margin-bottom: 55px;
  }
}

.connect__title span {
  white-space: nowrap;
}