.footer .container {
  @include rm(1024) {
    display: flex;
  }
}

.footer-column__left {
  @include rm(1024) {
    max-width: 550px;
    width: 100%;
    margin-right: 45px;
  }

  @include rm(1220) {
    margin-right: 65px;
  }
}

.footer-social {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.social__item {
  &:not(:last-of-type) {
    margin-right: 35px;
  }

  @include rm(1220){
    &:not(:last-of-type) {
      margin-right: 40px;
    }
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: solid 2px #000;
  background-color: $purple;
  box-shadow: 4px 4px 0px 0px rgba(159, 114, 255, 0.24);

  @include rm(1024) {
    &:hover {
      background-color: $yellow;
      box-shadow: none;
    }
    &:active .social__link-img {
      fill: black;
    }
  }
}

.footer__text {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 25px;

  @include rm(1024) {
    font-size: 14px;
    line-height: 22px;
  }

  @include rm(1220){
    margin-bottom: 32px;
  }
}

.footer__text a {
  font-weight: 600;
  font-style: italic;
  color: #9f72ff;
}

.footer-phone,
.footer-email {
  max-width: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  color: black;
  background: white;
  border: solid 2px #000;
  box-shadow: 4px 4px 0px 0px rgba(159, 114, 255, 0.24);

  @include rm(1024) {
    &:hover .footer-phone__img,
    &:hover .footer-email__img {
      background-color: $yellow;
      box-shadow: none;
    }

    &:active .footer-phone__path,
    &:active .footer-email__path {
      fill: black;
    }

    &:hover .footer-email__stroke {
      stroke: $yellow;
    }

    &:active  .footer-email__stroke {
      stroke: $yellow;
    }
  }


}

.footer-phone {
  margin-bottom: 15px;
}

.footer-email {
  max-width: 245px;
  width: 100%;
  margin-bottom: 45px;
}

.footer-phone__img,
.footer-email__img {
  width: 38px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $purple;
  border-right: solid 2px #000;
}

.footer-phone__text,
.footer-email__text {
  padding-left: 5px;
  font-size: 16px;
  background: white;
}

.footer-ev__text {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 8px;

  @include rm(1024){
    margin-bottom: 0;
    margin-right: 20px;
  }

  @include rm(1220){
    font-size: 14px;
    margin-right: 25px;
  }
}


.footer-ev__img {
  max-width: 120px;
  width: 100%;
  margin-bottom: 45px;

  @include rm(1024) {
    margin-bottom: 0;
  }
}

.footer__copyright {
  font-size: 12px;
  text-align: center;

  @include rm(1024) {
    font-size: 14px;
  }
}

.footer-ev {
  @include rm(1024){
    display: flex;
    align-items: center;
  }
}
