.lots__wrapper {
  margin-bottom: 15px;

  @include rm(480) {
    margin-bottom: 30px;
  }

  @include rm(768) {
    display: flex;
  }

  @include rm(1024) {
    align-items: flex-start;
    justify-content: space-between;
  }
}

.lots__title {
  text-align: center;
  font-size: 30px;
  line-height: 40px;

  @include rm(768) {
    width: 100%;
    max-width: 270px;
    text-align: left;
    margin-bottom: 0;
    margin-right: 90px;
  }

  @include rm(1024) {
    margin-right: 0;
  }

  @include rm(1300) {
    font-size: 48px;
    line-height: 48px;
    max-width: 425px;
  }
}

.lots__title .lots__title-text {
  padding: 4px;
  background-color: rgba(159, 114, 255, 0.5);

  @include rm(1300) {
    padding: 2px;
  }
}

.lots__subtitle {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;

  @include rm(768) {
    text-align: left;
  }
  @include rm(1300) {
    margin-top: 16px;
    font-size: 18px;
  }

}

.lots__text {
  @include rm(768) {
    width: 100%;
    margin-bottom: 0px;
  }
  @include rm(1024) {
    max-width: 237px;
    width: 100%;
  }

  @include rm(1300) {
    max-width: 345px;
  }
}

.lots__list {
  margin-bottom: 50px;

  @include rm(375) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @include rm(1024) {
    justify-content: center;
    margin-left: -25px;
    margin-bottom: 0;
  }
  @include rm(1300) {
    margin-left: -30px;
  }
}

.lots__btn-mob {
  @include rm(1024) {
    display: none;
  }
}

.lots__btn-desk {
  display: none;
  @include rm(1024) {
    font-size: 18px;
    display: block;
    max-width: 220px;
    padding: 8px;
    margin: 5px 0 0;
  }

  @include rm(1300) {
    max-width: 270px;
  }
}


.lots__item h3 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 16px;

  @include rm(768) {
    font-size: 18px;
  }
}

.lots__item-img {
  height: 69px;
  margin: 0 auto;
  @include rm(768) {
    height: 105px;
  }
}

.lots__item-wrapper {
  margin-bottom: 16px;
  padding-bottom: 45px;
}

.lots__item-text {
  text-align: center;
  font-size: 15px;

  @include rm(1024) {
    font-size: 18px;
  }
}

.lots__item-wrapper--1 {
  background: url("../img/lots__item-1.png") no-repeat bottom center;
}

.lots__item-wrapper--2 {
  background: url("../img/lots__item-2.png") no-repeat bottom center;
}

.lots__item-wrapper--3 {
  background: url("../img/lots__item-3.png") no-repeat bottom center;
}

.lots__item-wrapper--4 {
  background: url("../img/lots__item-4.png") no-repeat bottom center;
}

.lots__item-wrapper--5 {
  background: url("../img/lots__item-5.png") no-repeat bottom center;
}

.lots__item-wrapper--6 {
  background: url("../img/lots__item-6.png") no-repeat bottom center;
}

.lots__item-wrapper--7 {
  background: url("../img/lots__item-7.png") no-repeat bottom center;
}

.lots__item-wrapper--8 {
  background: url("../img/lots__item-8.png") no-repeat bottom center;
}

.lots__item-wrapper--9 {
  background: url("../img/lots__item-9.png") no-repeat bottom center;
}

.lots__item-wrapper--10 {
  background: url("../img/lots__item-10.png") no-repeat bottom center;
}

.lots__text span {
  position: relative;
  white-space: nowrap;
  padding: 5px 10px 7px;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/elipce.svg") no-repeat center;
    background-size: 100%;
  }
}


.lots__container {
  list-style: none;
  //width: 270px;
  height: 280px;
  max-width: 250px;
  width: 100%;
  margin: 0 auto 20px;

  &:nth-child(10) {
    margin-bottom: 0px;
  }

  @include rm(375) {
    max-width: 44%;
    margin: 0;
    margin-bottom: 20px;

    &:nth-child(9),
    &:nth-child(10) {
      margin-bottom: 0px;
    }
  }

  @include rm(480) {
    max-width: 100%;
    width: 45%;
    margin-bottom: 20px;
  }

  @include rm(768) {
    max-width: 330px;
    width: 100%;
  }

  @include rm(1024) {
    max-width: 220px;
    margin: 0 0 25px 25px;
  }
  @include rm(1300) {
    max-width: 265px;
    margin: 0 0 30px 30px;
  }
}


//.flip {
//  cursor: pointer;
//  //height: 100%;
//  //width: 100%;
//  box-shadow: 8px 8px 0 0 #808dff;
//  background: white;
//  border: solid 1px #000;
//  padding: 15px 18px;
//
//  @include rm(480) {
//    padding: 16px 22px;
//  }
//}

.lots__secret {
  height: 100%;
  width: 100%;
  box-shadow: 8px 8px 0 0 #808dff;
  background: white;
  border: solid 1px #000;
  padding: 15px 18px;
  user-select: none;

  @include rm(480) {
    padding: 16px 22px;
  }
}


.flip__front img {
  width: 179px;
  margin: 0 auto;
}





.lots__secret-img {
  margin: 0 auto;
  height: 40px;
  margin-bottom: 15px;
}

.lots__secret h3 {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 10px;
}

.flip__back h3 {
  text-align: center;
}

.flip__back p {
  font-size: 16px;
  line-height: 1.2;
}


.flip-card-container {
  width: 100%;
  height: 100%;
  perspective: 1000px;
  user-select: none;
}

.flip {
  width: inherit;
  height: inherit;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.6s 0.1s;

  cursor: pointer;
  box-shadow: 8px 8px 0 0 #808dff;
  border: solid 1px #000;
  padding: 15px 18px;

  @include rm(480) {
    padding: 16px 22px;
  }
}

.flip__front,
.flip__back {
    width: 100%;
    height: 100%;
    padding: 17px 17px 17px;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    backface-visibility: hidden;
}

.flip__front {
  transform: rotateY(0deg);
  z-index: 2;
  transition: 0.4s 0.1s;
}

.flip__back {
  transform: rotateY(180deg);
  z-index: 1;
  opacity: 0;
  transition: 0.6s 0.2s;
}

.flip-card-container.active .flip {
  transform: rotateY(180deg);
}

.flip-card-container.active .flip__front {
  opacity: 0;
}

.flip-card-container.active .flip__back {
  opacity: 1;
}



