.map{

  padding-bottom: 0;

  @include rm(768){
    background: url("../img/bg-grey-part.png") center bottom repeat-x;
  }
}

.map__title {
  font-size: 24px;
  margin-bottom: 10px;

  @include rm(1300){
    font-size: 30px;
  }
}

.map__img{
  display: none;

  @include rm(768){
    display: block;
  }
}

.map__wrapper {
  max-width: 1170px;
  margin: auto;
  box-shadow: 0 8px 0 #FFE600;
  background: url("../img/map-img.png") center;
  min-height: 300px;

  @include rm(768){
    background: none;
    box-shadow: 8px 8px 0 #FFE600;
  }
}

.map__point{
  margin-bottom: 30px;

  &:after{
    clear: both;
  }
}

.map__icon{
  float: left;
  margin-right: 20px;
}

.map__location{
  font-size: 16px;
  padding: 7px 0;

  @include rm(768){
    font-size: 24px;
  }
  @include rm(1300){
    font-size: 30px;
  }

}
.map__address{
  font-size: 13px;

  @include rm(768){
    font-size: 16px;
  }
  @include rm(1024){
    font-size: 18px;
  }

}


.map__container{


  @include rm(768){
    display: flex;
    justify-content: space-between;
  }
}