.media-partnerts__title {
  margin-bottom: 30px;
  text-align: center;
  @include rm(768){
    font-size: 30px;
    line-height: 40px;
  }
  @include rm(1300) {
    font-size: 48px;
  }
}

.media-partnerts__item {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto 30px;
  min-height: 75px;
  max-width: 180px;

  &:nth-child(6) {
    margin-bottom: 0;
  }

  @include rm(480) {
    max-width: 40%;
    min-height: 100%;
    &:nth-child(5) {
      margin-bottom: 0;
    }
    &:nth-child(4) {
      margin-bottom: 0;
    }
  }

  @include rm(768) {
    max-width: 30%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  @include rm(1024) {
    max-width: 30%;
    width: 100%;
    height: 110px;
    margin-left: 0;
    margin-right: 0;

    &:not(:last-of-type) {
      margin-right: 25px;
    }

    &:not(:last-of-type) {
      margin-bottom: 0px;
    }
  }

  @include rm(1300){
    max-width: 18%;
  }
}

.media-partnerts__item a {
  display: block;
  width: 100%;
  margin: 0 auto;

  transition: .8s;
  cursor: pointer;

  &:hover {
    transition: .8s;
    transform: scale(1.05);
  }
}

.media-partnerts__item a img {
  margin: 0 auto;
}

.media-partnerts__list {
  width: 100%;

  @include rm(480) {
    display: flex;
    flex-wrap: wrap;
  }

  @include rm(640) {
    margin: 0;
  }

  @include rm(768) {
    justify-content: space-around;
  }

  @include rm(1024) {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 23px;
  }
}