.promo {
  padding-top: 30px;
  padding-bottom: 30px;
}

.promo .container {
  @include rm(640) {
    display: flex;
    justify-content: space-between;
  }

  @include rm(768){
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.promo_right {
  @include rm(640) {
    max-width: 296px;
    width: 100%;
  }
  @include rm(768){
    max-width: 210px;
  }

  @include rm(1024){
    max-width: 350px;
  }
  @include rm(1300){
    max-width: 375px;
  }
}

.promo_left {
  @include rm(640) {
    max-width: 296px;
    width: 100%;
  }

  @include rm(768){
    max-width: 420px;
    margin-right: 85px;
  }
  @include rm(1024){
    max-width: 460px;
    margin-right: 160px;
  }
  @include rm(1300){
    max-width: 660px;
    margin-right: 115px;
  }
}

.promo__logo {
  width: 100%;
  max-width: 135px;
  margin-bottom: 40px;

  @include rm(640) {
    max-width: 150px;
  }

  @include rm(768) {
    max-width: 205px;
  }

  @include rm(1024) {
    max-width: 220px;
    margin-bottom: 65px;
  }
  @include rm(1300) {
    max-width: 320px;
    margin-bottom: 45px;
  }
}

.promo__title {
  font-family: "Acworth", sans-serif;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 35px;
  line-height: 1;
  font-weight: bold;
  width: 100%;
  margin-bottom: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


  @include rm(480) {
    max-width: 100%;
    font-size: 40px;
  }
  @include rm(640) {
    font-size: 35px;
  }

  @include rm(768) {
    font-size: 50px;
  }

  @include rm(1024) {
    font-size: 56px;
  }

  @include rm(1300) {
    font-size: 80px;
    margin-bottom: 20px;
  }
}

.promo__title-first {
  padding-left: 1px;
  padding-right: 1px;
  background: linear-gradient(270deg, #FFE600 0%, rgba(255, 230, 0, 0) 100%);
  margin-bottom: 5px;
  @include rm(1024){
    margin-bottom: 8px;
  }
}

.promo__title-second {
  background: linear-gradient(90deg, #10E6D9 0%, rgba(16, 230, 217, 0) 100%);
  padding-left: 1px;
  padding-right: 1px;
  margin-bottom: 5px;

  @include rm(1024){
    margin-bottom: 8px;
  }
}

.promo__title-third {
  padding-left: 1px;
  padding-right: 1px;
  background: linear-gradient(270deg, #FF57C6 0%, rgba(255, 87, 198, 0) 100%);
}

.promo__title-last {
  align-self: flex-end;

  @include rm(480) {
    align-self: flex-start;
  }

  @include rm(1300) {
    padding: 8px;
    padding-right: 15px;
    padding-left: 15px;
    line-height: 1;
  }
}

.promo__support {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;

  @include rm(768){
    font-size: 16px;
    margin-bottom: 0;
  }
  @include rm(1024){
    font-size: 24px;
    line-height: 36px;
  }

  @include rm(1300) {
    font-size: 30px;
    line-height: 45px;
  }
}

.promo__calendar {
  display: flex;
  align-items: center;
  background: #ffe600;
  padding: 10px 19px;

  max-width: 296px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;

  @include rm(768){
    margin-bottom: 30px;
  }

  @include rm(1024){
    max-width: 350px;
    padding: 18px 30px;
    margin-bottom: 25px;
  }
  @include rm(1300){
    max-width: 375px;
  }
}

.promo__calendar-img {
  width: 40px;
  height: 40px;
  margin-right: 45px;

  @include rm(768){
    margin-right: 15px;
  }

  @include rm(1024){
    width: 68px;
    height: 68px;
    margin-right: 30px;
  }

  @include rm(1300){
    margin-right: 40px;
  }

}

.promo__calendar-text {
  font-size: 50px;
  line-height: 50px;
  font-weight: 500;
  margin-right: 15px;

  @include rm(768){
    margin-right: 8px;
  }

  @include rm(1024){
    margin-right: 15px;
    font-size: 85px;
    line-height: 1;
  }
}

.promo_calendar-info {
  display: flex;
  flex-direction: column;

  @include rm(1024){
    font-size: 24px;
  }
}

.promo__text {
  margin-bottom: 20px;
  line-height: 24px;

  @include rm(640) {
    margin-bottom: 15px;
  }
  @include rm(769) {
    margin-bottom: 30px;
  }

  @include rm(1024) {
    margin-top: 0;
    max-width: 380px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 40px;
  }

  @include rm(1300) {
    margin-bottom: 30px;
  }
}


.promo__btn {
  margin-bottom: 15px;

  @include rm(768) {
    margin-top: 50px;
  }

  @include rm(1024) {
    order: 1;
    margin: 0;
    margin-bottom: 30px;
    max-width: 300px;
    width: 100%;
  }

  @include rm(1300) {
    margin-bottom: 20px;
    max-width: 270px;
  }
}


.promo__footnote {
  display: block;
  text-align: center;
  font-size: 12px;

  @include rm(1024){
    text-align: left;
    font-size: 14px;
  }
}

.promo-btn__mob {
  @include rm(768){
    display: none;
  }
  @include rm(1024){
    display: block;
  }
}


.promo-btn__desk {
  display: none;
  @include rm(768){
    display: block;
  }

  @include rm(1024){
    display: none;
  }
}