.promo {
  padding-top: 30px;
  padding-bottom: 30px;
}

.promo__logo {
  width: 100%;
  max-width: 135px;
  margin-bottom: 40px;

  @include rm(640) {
    max-width: 150px;
  }

  @include rm(768) {
    max-width: 190px;
  }

  @include rm(1024) {
    max-width: 220px;
    margin-bottom: 0;
  }
}

.promo__title {
  font-family: "Acworth", sans-serif;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 35px;
  line-height: 1;
  font-weight: bold;
  width: 100%;
  margin-bottom: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


  @include rm(480) {
    max-width: 100%;
  }

  @include rm(1024) {
    font-size: 55px;
  }

  @include rm(1220) {
    font-size: 72px;
    margin-bottom: 0;
  }
}

.promo__title-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include rm(480) {
    flex-direction: row;
  }

  @include rm(1220) {
    line-height: 1;
  }
}

.promo__title-first {
  padding-left: 1px;
  padding-right: 1px;
  background: linear-gradient(270deg, #FFE600 0%, rgba(255, 230, 0, 0) 100%);
  margin-bottom: 5px;
}

//  @include rm(1220){
//    font-size: 96px;
//    line-height: 1; //desk
//    padding-left: 15px; //desk
//    padding-right: 15px; //desk
//    padding-bottom: 10px; //desk
//  }
//}

.promo__title-second {
  background: linear-gradient(90deg, #10E6D9 0%, rgba(16, 230, 217, 0) 100%);
  padding-left: 1px;
  padding-right: 1px;
  margin-bottom: 5px;
}

.promo__title-third {
  padding-left: 1px;
  padding-right: 1px;
  background: linear-gradient(270deg, #FF57C6 0%, rgba(255, 87, 198, 0) 100%);
}
//  //font-family: "Montserrat", Helvetica, sans-serif;
//  //font-style: italic;
//
//  @include rm(1220){
//    padding: 7px;
//    padding-left: 10px;
//    padding-right: 25px;
//  }
//}

//.promo__subtitle-second {
//  @include rm(1220) {
//    padding: 7px;
//    padding-right: 15px;
//  }
//}

.promo__title-last {
  align-self: flex-end;

  @include rm(480) {
    align-self: flex-start;
  }

  @include rm(1220) {
    padding: 8px;
    padding-right: 15px;
    padding-left: 15px;
    line-height: 1;
  }
}

.promo__support {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;

  @include rm(1220) {
    margin-bottom: 0;
    position: absolute;
    bottom: 18px;
    left: 395px;

    max-width: 295px;
    width: 100%;
  }
}

.promo__calendar {
  display: flex;
  align-items: center;
  background: #ffe600;
  padding: 10px 19px;
  margin-bottom: 20px;
}

.promo__calendar-img {
  width: 40px;
  height: 40px;
  background: red;
  margin-right: 45px;
}

.promo__calendar-text {
  font-size: 50px;
  line-height: 50px;
  font-weight: 500;
  margin-right: 15px;
}

.promo_calendar-info {
  display: flex;
  flex-direction: column;
}

.promo__text {
  margin-bottom: 20px;
  line-height: 24px;

  @include rm(640) {
    margin-bottom: 0;
    margin-top: 20px;
  }

  @include rm(1024) {
    margin-top: 0;
    max-width: 380px;
    width: 100%;
  }

  @include rm(1220) {
    max-width: 480px;
    line-height: 1.7; //desk
    margin-right: 135px;
  }
}

.promo__wrapper {
  @include rm(640) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
  }
  @include rm(1024) {
    justify-content: space-between;
  }

  @include rm(1220) {
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0; //desk
  }
}

.promo__btn {
  margin-bottom: 25px;

  @include rm(1024) {
    order: 1;
  }

  @include rm(1220) {
    margin-right: 25px;
  }
}

.promo__entry {
  margin-bottom: 20px;
  font-style: italic;

  @include rm(640) {
    margin-bottom: 0;
  }

  @include rm(1024) {
    order: 2;
  }

  @include rm(1220) {
    line-height: 1.7; //desk
  }
}


.timer-wrapper {
  order: 2;

  @include rm(768) {
    order: 0;
  }
}

.promo-title__wrapper {
  @include rm(1220) {
    position: relative;
    margin-bottom: 65px;
  }
}
