.purpose__text {
  font-weight: 500;
  width: 100%;
}

.purpose__title {
  @include rm(768){
    margin-bottom: 26px;
  }

  @include rm(1024){
    max-width: 350px;
    width: 100%;
    margin-right: 45px;
    margin-bottom: 0;
  }

  @include rm(1300){
    max-width: 400px;
    margin-right: 100px;
  }

}

.purpose__wrapper {
  @include rm(768){
    max-width: 485px;
    width: 100%;
  }

  @include rm(1024){
    max-width: 100%;
    display: flex;
  }
}