.registration.block {
  padding-top: 15px;

  @include rm(480){
    padding-top: 30px;
  }
  @include rm(768){
    padding-top: 40px;
  }
  @include rm(1024){
    padding-top: 50px;
  }
  @include rm(1300){
    padding-top: 60px;
  }
}

.registration__success {
  display: none;
  padding: 20px;
  text-align: center;
  background: white;
  margin: 0 auto;
  max-width: 290px;
  width: 100%;


  padding-bottom: 30px;
  border: solid 2px #000;

  @include rm(480){
    max-width: 350px;
    padding: 30px 30px 30px;
  }

  @include rm(640) {
    padding: 35px 45px 35px;
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
  }

  @include rm(1024) {
    padding: 45px 60px 45px;
    max-width: 700px;

  }
  @include rm(1300) {
    padding: 65px 100px 70px;
    max-width: 790px;
  }

}

.check-in__subtitle {
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
}


.registration__title {
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;


  @include rm(1300) {
    font-size: 48px;
    line-height: 1;
  }
}

.registration__sub-title{
  text-align: center;
  margin-bottom: 35px;
}

.registration__wrapper {
  position: relative;
  max-width: 290px;
  margin: 0 auto;
  width: 100%;

  @include rm(480){
    max-width: 350px;
  }

  @include rm(768) {
    max-width: 690px;
    background: url("../img/form-bg.png") -272px center no-repeat, #ffe501;
    display: flex;
    justify-content: flex-end;
    border: 1px solid #333;
    box-shadow: 8px 8px 0 #b3baff;
  }

  @include rm(1024) {
    max-width: 940px;
    background-position-x: -128px;
  }
  @include rm(1300) {
    max-width: 1165px;
    background-position-x: 0;
  }
}

.registration .form {
  position: relative;
  z-index: 2;
  //box-shadow: 8px 8px 0 #b3baff;

  @include rm(768) {
    margin: 0;
  }
}

.registration .btn {
  @include rm(640) {
    max-width: 100%;
    width: 100%;
  }
}
