.team__title {
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 35px;

  @include rm(1300) {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    font-size: 30px;
    line-height: 48px;
    margin-bottom: 60px;
  }
}


.team__list {
  @include rm(375) {
    max-width: 340px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    //align-items: center;
    align-items: flex-start;
    justify-content: space-around;
  }

  @include rm(480){
    max-width: 100%;
  }

  @include rm(1220) {
    justify-content: space-between;
  }
}

.team__item {
  position: relative;
  max-width: 174px;
  width: 100%;
  margin: 0 auto;


  &:not(:last-of-type) {
    margin-bottom: 45px;
  }

  @include rm(375){
    max-width: 136px;
  }

  @include rm(480) {
    max-width: 200px;

    &:nth-child(3){
      margin-bottom: 0;
    }
  }

  @include rm(640) {
    max-width: 240px;
  }

  @include rm(768) {
    max-width: 260px;
  }

  @include rm(1024) {
    max-width: 220px;

    &:not(:last-of-type) {
      margin-bottom: 0px;
    }
  }

  @include rm(1300) {
    margin: 0;
    max-width: 240px;
  }
}

.team__item--first {
  position: relative;

  &:before {
    position: absolute;
    content: "";
    top: -32px;
    left: -33px;
    width: 155px;
    height: 148px;
    background-image: url("../img/star-purple.png");
    background-size: 78%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
  }

  @include rm(1220){
    &:before {
      top: -6px;
      left: -61px;
      background-size: 100%;
    }
  }
}


.team__item--second {
  @include rm(1024){
    &:before {
      top: auto;
      bottom: 66px;
      right: auto;
      left: -35px;
    }
  }

  @include rm(1220){
    &:before {
      top: auto;
      bottom: 95px;
      right: auto;
      left: -73px;
    }
  }
}

.team__info-wrap {
  margin-bottom: 15px;

  @include rm(1300){
    margin-bottom: 25px;
  }
}

.team-wrap__img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  //width: 280px;
  //height: 280px;
  width: 170px;
  height: 180px;
  margin: 0 auto 20px;

  box-shadow: 8px 8px 0 0 #ffe600;
  border: solid 1px #000;
  background-color: #0019ff;


  &::before {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    background: url("../img/team-img-bg.png") no-repeat center;
    background-size: 170px;
    height: 20px;
    top: 5px;
  }

  @include rm(375){
    &::before {
      background-size: 130px;
    }
    width: 135px;
    height: 145px;
  }

  @include rm(480) {
    &::before {
      height: 40px;
      background-size: auto;
      top: 10px;
    }
    width: 200px;
    height: 220px;
  }

  @include rm(640) {
    width: 240px;
    height: 260px;
  }

  @include rm(768) {
    width: 265px;
    height: 285px;
  }

  @include rm(1024) {
    width: 220px;
    height: 210px;
  }
  @include rm(1220) {
    width: 240px;
    height: 260px;
  }
}

.team__name {
  text-transform: uppercase;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;

  br {
    display: none;
  }

  @include rm(375){
    br {
      display: block;
    }
  }

  @include rm(480){
    br {
      display: none;
    }
  }
  @include rm(768){
    font-size: 18px;
  }
  @include rm(1300){
    font-size: 20px;
  }
}

.team__btn {
  display: inline-block;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  position: relative;
  text-align: left;
  padding: 8px 15px 8px 40px;
  font-size: 14px;
  background-color: #0019ff;


  @include rm(375){
    font-size: 10px;
  }

  @include rm(768){
    font-size: 16px;
  }
  @include rm(1024){
    transition: .8s;
    &:hover {
      transition: .8s;
      transform: scale(1.05);
    }
  }

  &:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background: url("../img/telegram-icon.svg") no-repeat center;
    background-size: 100%;


  }

  @include rm(375){
    &:before {
      position: absolute;
      content: "";
      width: 16px;
      height: 16px;
    }
  }


}

.team__position {
  font-weight: 500;
  font-size: 13px;

  @include rm(768){
    font-size: 16px;
  }
}
