extends settings/layout

prepend html
    - const lang = "uk";

prepend head
    - const pageTitle = "Meetup for Ukrainian Affiliate Community";
    - const themeColor = "#fbfbfb";

append head

append content
    .main-bg
        .custom-bg
            include components/promo
            include components/planing
            include components/purpose
        .separator
        include components/lots
        include components/connect
        include components/partners
        include components/sponsors
        include components/media-partners
        .separator
        include components/team
        include components/registration
        include components/map
        include components/media

        include components/footer

    include components/popup

append scripts
