section.about.block
  .container

    .about__wrapper
      h2.about__title.title Meetup&nbsp;
        span.mark-yellow for Ukrainian
        |   Affiliate Community — це

      p.about__text Арбітражний благодійний захід від команди Affhub, основною метою якого є нетворкінг між представниками affiliate індустрії. Ми зберемо на одному івент плейсі вебмастерів, тім лідів команд, представників партнерських мереж і всіх тих, хто працює у сфері арбітражу.


    .about-list__wrapper
      ul.about-list
        li.about-item.accent-shadow-yellow
          img.about-item__img.bg-yellow(src="img/mood.svg" alt="image" loading="lazy")
          p.about-item__text Патріотичний настрій

        li.about-item.accent-shadow-rose
          img.about-item__img.bg-rose(src="img/speaker.svg" alt="image" loading="lazy")
          p.about-item__text Виступи спікерів

        li.about-item.accent-shadow-blue
          img.about-item__img.bg-blue(src="img/dj.svg" alt="image" loading="lazy")
          p.about-item__text Український Dj-сет

      ul.about-list

        li.about-item.accent-shadow-purple
          img.about-item__img.bg-purple(src="img/drink.svg" alt="image" loading="lazy")
          p.about-item__text Welcome drink

        li.about-item.accent-shadow-green
          img.about-item__img.bg-green(src="img/networking.svg" alt="image" loading="lazy")
          p.about-item__text Networking

        li.about-item.accent-shadow-orange
          img.about-item__img.bg-orange(src="img/charity.svg" alt="image" loading="lazy")
          p.about-item__text Благодійний прояв
