.community.block
  .container
    .community-wrap
      .community-block.accent-shadow-green
        p.community__text Приєднуйся
          br
          | до&nbsp;
          span.mark-rose чату
          br.nobr
          |  Affhub ком'юніті

        .community-btn__wrapper
          a(href="https://t.me/+Ue-7ooPa40lmYzEy" target="_blank").community__btn.btn Приєднатися
