section.connect.block
    .container
        h2.connect__title.title Приєднуйся&nbsp;
            span.connect-wrap до чату&nbsp;
            span.bg-green-dark Affhub ком'юніті

        a(href="https://t.me/affhubchat" target="_blank").connect__btn.btn Приєднатись