footer.footer.block
  .container
    .footer-column__left

      p.footer__text
        | Усі матеріали на сайті&nbsp;
        a(href="https://affhub.media") https://affhub.media&nbsp;
        | призначені лише для ознайомлення. Ми робимо все можливе, щоб вся публікована інформація була якомога точною та повною.

      p.footer__text
        | Адміністрація сайту&nbsp;
        a(href="https://affhub.media") https://affhub.media&nbsp;
        | не несе жодної відповідальності за будь-які втрати, у тому числі й фінансові, за неправильного тлумачення поданих матеріалів або через використання неповної чи неправильної інформації, розміщеної на цьому сайті.


      .footer-ev
        p.footer-ev__text За партнерства та підтримки

        img.footer-ev__img(src="img/everad-logo.png" alt="everad" width="181" height="37")



    .footer-column__right

      ul.footer-social.social

        li.social__item.social__item--fb
          a(href="https://www.facebook.com/affhubcom/" target="_blank").social__link
            svg(width='10' height='20' xmlns='http://www.w3.org/2000/svg')
              path.social__link-img(fill-rule='evenodd' clip-rule='evenodd' d='M6.16 4.729v1.94h3.08l-.385 3.49H6.159v9.7H1.925v-9.7H0v-3.49h1.925v-1.94S1.582 1.027 5.005.455H9.24v3.11H7.314S6.22 3.521 6.16 4.728Z' fill='#fff')

        li.social__item.social__item--vk
          a(href="https://vk.com/affhub" target="_blank").social__link
            svg(width='27' height='16' viewBox='0 0 27 16' fill='none' xmlns='http://www.w3.org/2000/svg')
              path.social__link-img(fill-rule='evenodd' clip-rule='evenodd' d='M22.7492 9.9026C23.6252 10.7444 24.551 11.5362 25.3374 12.463C25.6848 12.8742 26.0137 13.2992 26.2651 13.777C26.6217 14.457 26.2983 15.2045 25.6792 15.2452L21.8289 15.2434C20.8356 15.3237 20.0428 14.931 19.3766 14.2639C18.8435 13.7298 18.35 13.1606 17.8372 12.609C17.6275 12.3845 17.4075 12.172 17.1442 12.0038C16.6184 11.6674 16.1629 11.77 15.8626 12.3106C15.5558 12.8576 15.4865 13.4656 15.457 14.0763C15.4154 14.9689 15.1419 15.2027 14.2308 15.2434C12.2839 15.333 10.4368 15.0438 8.72096 14.0782C7.20744 13.2281 6.03395 12.025 5.01293 10.6649C3.02447 8.01485 1.5017 5.10423 0.13325 2.11138C-0.174444 1.4387 0.0510132 1.07556 0.80685 1.06263C2.0635 1.03953 3.31922 1.04138 4.57772 1.06078C5.08777 1.06817 5.42596 1.35646 5.62277 1.83048C6.30284 3.47428 7.13444 5.03678 8.17857 6.48654C8.45577 6.8737 8.73944 7.25901 9.14323 7.52975C9.58953 7.83097 9.92956 7.73211 10.1402 7.24238C10.2733 6.93284 10.3315 6.59743 10.362 6.26571C10.4609 5.12271 10.4747 3.98249 10.3001 2.84319C10.192 2.13263 9.78542 1.67155 9.06377 1.53849C8.69602 1.46827 8.75053 1.33336 8.92887 1.12731C9.23841 0.770642 9.52947 0.549805 10.1097 0.549805H14.4618C15.1474 0.681938 15.299 0.985012 15.3932 1.66323L15.3969 6.41632C15.3895 6.67874 15.53 7.4586 16.0104 7.63231C16.3958 7.75521 16.6489 7.45306 16.8799 7.21374C17.9222 6.12618 18.6651 4.83997 19.3295 3.5094C19.6252 2.9245 19.8783 2.3165 20.1241 1.70943C20.3062 1.25852 20.5917 1.03676 21.1082 1.04692L25.2958 1.05062C25.4205 1.05062 25.5462 1.05154 25.6663 1.07279C26.3723 1.19107 26.5654 1.4886 26.3473 2.16682C26.0036 3.23035 25.3355 4.11554 24.6822 5.00629C23.9837 5.95801 23.2371 6.87463 22.5441 7.83097C21.9075 8.70416 21.9583 9.14399 22.7492 9.9026Z' fill='white')

        li.social__item.social__item--telegram
          a(href="https://t.me/joinchat/AAAAAEJWe7Cf1Cw_rO7JZw" target="_blank").social__link
            svg(width='23' height='19' fill='none' xmlns='http://www.w3.org/2000/svg')
              path.social__link-img(fill-rule='evenodd' clip-rule='evenodd' d='M16.987 18.731c.298.21.681.263 1.023.134.342-.13.593-.422.67-.776.802-3.774 2.75-13.325 3.48-16.758a.722.722 0 0 0-.24-.7.74.74 0 0 0-.736-.13C17.31 1.935 5.378 6.412.501 8.217a.764.764 0 0 0-.5.738c.01.327.23.61.547.706 2.187.654 5.058 1.564 5.058 1.564s1.342 4.052 2.041 6.113a.81.81 0 0 0 .558.532.8.8 0 0 0 .749-.191l2.86-2.701s3.301 2.42 5.173 3.753ZM6.814 10.713l1.551 5.118.345-3.24 9.411-8.489c.1-.09.114-.242.03-.348a.263.263 0 0 0-.347-.06l-10.99 7.02Z' fill='#fff')


        li.social__item.social__item--instagram
          a(href="https://www.instagram.com/affhubcommunity/" target="_blank").social__link
            svg(width='20' height='21' fill='none' xmlns='http://www.w3.org/2000/svg')
              path.social__link-img(fill-rule='evenodd' clip-rule='evenodd' d='M13.658 20.644h-7.45A6.208 6.208 0 0 1 0 14.437V6.985A6.208 6.208 0 0 1 6.208.778h7.45a6.209 6.209 0 0 1 6.208 6.207v7.452a6.209 6.209 0 0 1-6.208 6.207Zm4.345-13.659a4.351 4.351 0 0 0-4.345-4.345h-7.45a4.352 4.352 0 0 0-4.346 4.345v7.452a4.352 4.352 0 0 0 4.346 4.345h7.45a4.351 4.351 0 0 0 4.345-4.345V6.985Zm-2.731-.951a.66.66 0 1 1-.002-1.322.66.66 0 0 1 .002 1.322Zm-5.339 9.643a4.967 4.967 0 1 1 0-9.933 4.967 4.967 0 0 1 0 9.933Zm0-8.069a3.107 3.107 0 0 0-3.104 3.104 3.108 3.108 0 0 0 3.104 3.104 3.108 3.108 0 0 0 3.104-3.104 3.107 3.107 0 0 0-3.104-3.104Z' fill='#fff')


      a(href="tel:+380979186527").footer-phone
        .footer-phone__img
          svg(width='19' height='20' fill='none' xmlns='http://www.w3.org/2000/svg')
            path.footer-phone__path(d='m5.352 7.393 1.706-1.706L4.214 0 .234 2.275c-.57 1.706-.456 6.483 4.549 11.942 5.004 5.46 9.668 5.308 11.374 4.55L19 14.786l-5.687-2.844-1.706 1.707c-4.094-1.365-5.876-4.74-6.255-6.256Z' fill='#fff')

        span.footer-phone__text +380 97 918 65 27

      a(href="mailto:events@affhub.media" ).footer-email
        .footer-email__img
          svg(width='24' height='15' fill='none' xmlns='http://www.w3.org/2000/svg')
            path.footer-email__path(d='M1 1h22v13H1V1Z' fill='#fff')
            path.footer-email__stroke(d='M1 1h22M1 1v13h22V1M1 1l11 6.5L23 1' stroke='#9F72FF' stroke-linejoin='round')

        span.footer-email__text events@affhub.media


      .footer__copyright
        | © 2019 — 2022 Affhub Media. Всі права захищені

