footer.foot.block
  .container
    .foot__contacts
      img.foot__logo(src='img/logo-affhub.svg' alt='affhub logo')
      a.foot__phone(href='callto:+380979186527') +380 97 918 65 27
      a.foot__mail(href='mailto:events@affhub.media') events@affhub.media
    .foot__info
      p.foot__text
        | Усі матеріали на
        span.text-bold  https://affhub.media
        |  носять виключно інформаційний характер. Ми робимо все можливе, щоб уся опублікована інформація була максимально точною та повною.

      p.foot__text
        | Адміністрація сайту
        span.text-bold  https://affhub.media
        |  не несе відповідальності за будь-які збитки, в тому числі фінансові, внаслідок неправильного тлумачення наданих матеріалів або використання неповної чи некоректної інформації, розміщеної на цьому сайті.
      .foot__support
        p.foot__support-text
          | При партнерстві та підтримці
          img.foot__support-logo(src='img/everad-logo.png' alt='everad')
    .foot__social
      p.foot__copyright
        | © 2019 — 2022 Affhub Media.
        br
        |  All rights reserved
      .foot__list
        a.foot__link(href='')
          img.foot__link-img(src='img/fb.svg' alt='facebook')
        a.foot__link(href='')
          img.foot__link-img(src='img/vk.svg' alt='vkontakte')
        a.foot__link(href='')
          img.foot__link-img(src='img/tg.svg' alt='telegram')
        a.foot__link(href='')
          img.foot__link-img(src='img/insta.svg' alt='instagram')
