p Позицiя:
.select.form__input--wrap.select-js(data-state='')
  .select__title.form__input.select__title-js(data-default='owner / ceo') owner / ceo
  .select__content
    input#singleSelect0.select__input(type='radio' name='singleSelect' checked='')
    label.select__label.select__label-js(for='singleSelect0') owner / ceo

    input#singleSelect1.select__input(type='radio' name='singleSelect')
    label.select__label.select__label-js(for='singleSelect1') webmaster / mediabayer

    input#singleSelect2.select__input(type='radio' name='singleSelect')
    label.select__label.select__label-js(for='singleSelect2') team lead

    input#singleSelect3.select__input(type='radio' name='singleSelect')
    label.select__label.select__label-js(for='singleSelect3') affiliate manager

    input#singleSelect4.select__input.inner-test(type='radio' value="test"  name='singleSelect')
    label.select__label.select__label-js(for='singleSelect4') інше: вказати
