header.header
  .container

    img.header-logo(src="img/logo.png" alt="logo" width="220" height="48")


    //.header-date
    //  img.header-date__img(src="img/calendar.png" alt="logo" width="38" height="38")
    //
    //  span.header-date__time 21 липня, 17:00 чт
    //
    //.header-place
    //  img.header-place__img(src="img/map.png" alt="logo" width="26" height="39")
    //
    //  .header-place__wrap
    //    p.header-place__generator Generator
    //      span.text-italic (GNRTR1932)
    //    span.header-place__street Київ, вул. Михайла Грушевського, 3







