section.lots.block
    .container

        .lots__wrapper
            h2.lots__title.title
                span.lots__title-text ЛОТИ З АКЦІОНУ
                span.lots__subtitle.text-bold ЯКІ СКОРО МОЖУТЬ СТАТИ ТВОЇМИ:

            p.lots__text Якщо маєш бажання додати крутий лот від себе,
                span  зв’яжись з нами!

            a(href="https://t.me/Viktoriya_cpa" target="_blank").lots__btn.lots__btn-desk.btn.popupbtn Зв’язатись

        ul.lots__list
            li.lots__container.lot-1
                .lots__secret
                    img.lots__secret-img(src="img/alexa.png")
                    .lots__item-wrapper.lots__item-wrapper--1
                        img.lots__item-img(src="img/box.svg" alt="Secret lot")

                    p.lots__item-text Coming soon...

            li.lots__container.lot-2
                .lots__secret
                    img.lots__secret-img(src="img/cosmolot-logo.png")
                    .lots__item-wrapper.lots__item-wrapper--2
                        img.lots__item-img(src="img/box.svg" alt="Secret lot")

                    p.lots__item-text Coming soon...

            li.lots__container.lot-3
                .lots__secret
                    img.lots__secret-img(src="img/theaff.png")
                    .lots__item-wrapper.lots__item-wrapper--3
                        img.lots__item-img(src="img/box.svg" alt="Secret lot")

                    p.lots__item-text Coming soon...


            li.lots__container.lot-4
                .lots__secret
                    img.lots__secret-img(src="img/profit.png")
                    .lots__item-wrapper.lots__item-wrapper--4
                        img.lots__item-img(src="img/box.svg" alt="Secret lot")

                    p.lots__item-text Coming soon...


            li.lots__container.lot-5
                .lots__secret
                    img.lots__secret-img(src="img/affiliates.png")
                    .lots__item-wrapper.lots__item-wrapper--5
                        img.lots__item-img(src="img/box.svg" alt="Secret lot")

                    p.lots__item-text Coming soon...


            li.lots__container.lot-6
                .lots__secret
                    h3.text-bold Трафик Сквад
                    .lots__item-wrapper.lots__item-wrapper--6
                        img.lots__item-img(src="img/box.svg" alt="Secret lot")

                    p.lots__item-text Coming soon...


            li.lots__container.lot-7
                .lots__secret
                    img.lots__secret-img(src="img/neogara.png")
                    .lots__item-wrapper.lots__item-wrapper--7
                        img.lots__item-img(src="img/box.svg" alt="Secret lot")

                    p.lots__item-text Coming soon...


            li.lots__container.lot-8
                .lots__secret
                    h3.text-bold Трафик Девилс
                    .lots__item-wrapper.lots__item-wrapper--8
                        img.lots__item-img(src="img/box.svg" alt="Secret lot")

                    p.lots__item-text Coming soon...


            li.lots__container.lot-9
                .lots__secret
                    h3.text-bold Трафф Браза
                    .lots__item-wrapper.lots__item-wrapper--9
                        img.lots__item-img(src="img/box.svg" alt="Secret lot")

                    p.lots__item-text Coming soon...



        a(href="https://t.me/Viktoriya_cpa" target="_blank").lots__btn.lots__btn-mob.btn Зв’язатись