section.lots.block
    .container

        .lots__wrapper
            h2.lots__title.title
                span.lots__title-text ЛОТИ З АКЦІОНУ
                span.lots__subtitle.text-bold ЯКІ СКОРО МОЖУТЬ СТАТИ ТВОЇМИ:

            p.lots__text Якщо маєш бажання додати крутий лот від себе,
                span  зв’яжись з нами!

            button.lots__btn.lots__btn-desk.btn.popupbtn Зв’язатись

        ul.lots__list


            li.lots__item
                h3.text-bold Secret lot
                .lots__item-wrapper.lots__item-wrapper--1
                    img.lots__item-img(src="img/box.svg" alt="Secret lot")

                p.lots__item-text Coming soon...

            li.lots__item
                h3.text-bold Secret lot
                .lots__item-wrapper.lots__item-wrapper--2
                    img.lots__item-img(src="img/box.svg" alt="Secret lot")

                p.lots__item-text Coming soon...

            li.lots__item
                h3.text-bold Secret lot
                .lots__item-wrapper.lots__item-wrapper--3
                    img.lots__item-img(src="img/box.svg" alt="Secret lot")

                p.lots__item-text Coming soon...

            li.lots__item
                h3.text-bold Secret lot
                .lots__item-wrapper.lots__item-wrapper--4
                    img.lots__item-img(src="img/box.svg" alt="Secret lot")

                p.lots__item-text Coming soon...

            li.lots__item
                h3.text-bold Secret lot
                .lots__item-wrapper.lots__item-wrapper--5
                    img.lots__item-img(src="img/box.svg" alt="Secret lot")

                p.lots__item-text Coming soon...

            li.lots__item
                h3.text-bold Secret lot
                .lots__item-wrapper.lots__item-wrapper--6
                    img.lots__item-img(src="img/box.svg" alt="Secret lot")

                p.lots__item-text Coming soon...

            li.lots__item
                h3.text-bold Secret lot
                .lots__item-wrapper.lots__item-wrapper--7
                    img.lots__item-img(src="img/box.svg" alt="Secret lot")

                p.lots__item-text Coming soon...

            li.lots__item
                h3.text-bold Secret lot
                .lots__item-wrapper.lots__item-wrapper--8
                    img.lots__item-img(src="img/box.svg" alt="Secret lot")

                p.lots__item-text Coming soon...

            li.lots__item
                h3.text-bold Secret lot
                .lots__item-wrapper.lots__item-wrapper--9
                    img.lots__item-img(src="img/box.svg" alt="Secret lot")

                p.lots__item-text Coming soon...

            li.lots__item
                h3.text-bold Secret lot
                .lots__item-wrapper.lots__item-wrapper--10
                    img.lots__item-img(src="img/box.svg" alt="Secret lot")

                p.lots__item-text Coming soon...

        button.lots__btn.lots__btn-mob.btn.popupbtn Зв’язатись