.map.block
  .container
        .map__container
            .map__title Як дістатись до локації?
            .map__point
                img.map__icon(src="img/point.svg" alt="point")
                p.map__location Normal Art Restaurant
                p.map__address Київ, вулиця Антоновича 81


        .map__wrapper.accent-shadow-rose
          a(href="https://goo.gl/maps/B7dQA9Q1xbukH4ua8" target="_blank").map__link
            picture
              source(media='(max-width: 639px)' srcset='img/map-img-mob.png')
              //source(type='image/webp' srcset='img/image.webp')
              img.map__img(src="img/map-img.png" alt="image" loading="lazy")
