.map.block
  .container
        .map__container
            .map__title Як дістатись до локації?
            .map__point

                img.map__icon(src="img/point.svg" alt="point")
                .map__point-info
                    p.map__location Normal Art Restaurant
                    p.map__address Київ, вулиця Антоновича 81

        a(href="https://www.google.com/maps/place/Normal+Art+Restaurant/@50.4264432,30.5150129,15z/data=!4m2!3m1!1s0x0:0xfcda3355dfbf910b?sa=X&ved=2ahUKEwjt7c76kLD7AhWDgSoKHbV8BBoQ_BJ6BAh7EAg" target="_blank").map__link
            .map__wrapper.accent-shadow-rose

                    picture
                        source(media='(max-width: 639px)' srcset='img/map-img-mob.png')
                        //source(type='image/webp' srcset='img/image.webp')
                        img.map__img(src="img/map-img.png" alt="image" loading="lazy")