section.media-partnerts.block
    .container
        h2.media-partnerts__title.title
            span.bg-yellow Media partners:

        ul.media-partnerts__list

            li.media-partnerts__item
                a(href="" target="_blank")
                    img(src="img/lc.png" alt="sponsor")

            li.media-partnerts__item
                a(href="" target="_blank")
                    img(src="img/peerclick.png" alt="sponsor")

            li.media-partnerts__item
                a(href="" target="_blank")
                    img(src="img/sempro.png" alt="sponsor")

            li.media-partnerts__item
                a(href="" target="_blank")
                    img(src="img/ads.png" alt="sponsor")

            li.media-partnerts__item
                a(href="" target="_blank")
                    img(src="img/neogara.png" alt="sponsor")