.media.block
    .container
        .media__zone
            .media__item
                .media__zone-name Фотозвiт
                a(href="" target="_blank").media__zone-link.photo Coming soon...
            .media__item
                .media__zone-name Вiдеозвiт
                a(href="" target="_blank").media__zone-link.video Coming soon...