section.media-partnerts.block
    .container
        h2.media-partnerts__title.title
            span.bg-yellow Media partners:

        ul.media-partnerts__list

            li.media-partnerts__item
                a(href="https://logincasino.work/ua?utm_source=affhub&utm_medium=cpc&utm_campaign=affhub_kyiv_event_info_partner" target="_blank")
                    img(src="img/lc.png" alt="sponsor")

            li.media-partnerts__item
                a(href="https://trk.peerclick.com/15GjdS?manager=as&source=AFFHUB&promo=AFFHUB2022&language=ru" target="_blank")
                    img(src="img/peerclick.png" alt="sponsor")

            li.media-partnerts__item
                a(href="https://sempro.club/" target="_blank")
                    img(src="img/sempro.png" alt="sponsor")

            li.media-partnerts__item
                a(href="https://www.youtube.com/channel/UC4qfuEJuJxPw7V3YvJgndqw/?sub_confirmation=1" target="_blank")
                    img(src="img/ads.png" alt="sponsor")

            li.media-partnerts__item
                a(href="https://neogara.club/?utm_source=affhub&utm_medium=site&utm_campaign=poland_meetup" target="_blank")
                    img(src="img/neogara.png" alt="sponsor")