.partners.block
    .container

        ul.partners__list

            li.partners__item.partners__item--first
                h2.partners__title.title general partner

                .partners__card.accent-shadow-rose
                    a(href="https://pu-partners.com/?utm_source=Affhub&utm_medium=referral&utm_campaign=Affhub" target="_blank").partners__logo-link
                        img.partners__img(src="img/pin-up.png" alt="sponsor")

                    p.partners__text
                        a(href="https://pu-partners.com/?utm_source=Affhub&utm_medium=referral&utm_campaign=Affhub" target="_blank").text-bold PIN-UP Partners
                        |  – партнерська програма iGaming-проектів: PIN-UP Bet та PIN-UP Casino.  Це прямий рекламодавець, що працює під однойменним брендом, з найвищим конвертом на ринку REG2DEP 1/3, ліцензійними sport та gambling-офферами на 11+ ГЕО, а також ексклюзивними технологіями залива.

                    a.btn(href="https://t.me/Lia_PU" target="_blank") Зв’язатися


            li.partners__item
                h2.partners__title.title Diamond sponsor

                .partners__card.accent-shadow-blue
                    a(href="https://cosmolot.partners/?utm_source=AffHub&utm_medium=Website&utm_campaign=AffHubKyiv" target="_blank").partners__logo-link
                        img.partners__img(src="img/cosmolot-logo.png" alt="sponsor" width="220" height="75")

                    p.partners__text
                        a(href="https://cosmolot.partners/?utm_source=AffHub&utm_medium=Website&utm_campaign=AffHubKyiv" target="_blank").text-bold Cosmolot Partners
                        |  - офіційна партнерська програма першого ліцензійного онлайн казино України. Відомий бренд, стабільний продукт, круті умови. Приєднуйся!

                    a.btn(href="https://t.me/cosmolot_partners" target="_blank") Зв’язатися

            li.partners__item
                h2.partners__title.title exclusive sponsor

                .partners__card.accent-shadow-yellow
                    a(href="https://link.axela.network/3VTshcF" target="_blank").partners__logo-link
                        img.partners__img(src="img/alexa.png" alt="sponsor")

                    p.partners__text
                        a(href="https://link.axela.network/3VTshcF" target="_blank").text-bold ȧxela
                        | – надійна партнерська мережа фінансових оферів!
                        | Топовий EPL по регіонах, щотижневі виплати, підтримка 24/7, Worldwide покриття трафіку.
                        | Приватне ком'юніті – TBA in Bangkok.

                    a.btn(href="https://axela.network/contacts/" target="_blank") Зв’язатися
