.partners.block
  .container
    h2.partners__title.title MediaPartners:

    .sponsors__wrapper

      ul.partners__list.partners__list--first

        li.partners__item.accent-shadow-purple
          a(href="https://www.youtube.com/channel/UC4qfuEJuJxPw7V3YvJgndqw/?sub_confirmation=1" target="_blank")
            img(src="img/commercial.png" alt="sponsor" width="231" height="58")

        li.partners__item.accent-shadow-yellow
          a(href="https://sempro.club/" target="_blank")
            img(src="img/sempro_logo.png" alt="sponsor" width="188" height="49")

        li.partners__item.accent-shadow-rose
          a(href="https://theaff.io/" target="_blank")
            img(src="img/the-aff-logo-dark.svg" alt="sponsor" width="188" height="49")


      ul.partners__list.partners__list--second

        li.partners__item.accent-shadow-orange
          a(href="https://datify.link/en" target="_blank")
            img(src="img/logo_black.svg" alt="sponsor" width="188" height="49")

        li.partners__item.accent-shadow-green
          a(href="https://mama-edu.com/" target="_blank")
            img(src="img/mama_logo.svg" alt="sponsor" width="100" height="90")

        li.partners__item.accent-shadow-black
          a
            p.partners__item-text avaible now


