section.planing.block
    .container
        .planing__wrapper
            h2.planing__title.title Настав час планувати
                br
                span.bg-rose  новорічний настрій
                |  та готуватись до свят!

            p.planing__text І ми щасливі запросити тебе та Благодійний арбітражний івент від команди Affhub. Обіцяємо максимальний нетворкінг та супер круті подарунки від наших партнерів. Тому рекомендуємо вже починати готуватись до нашого не забутнього аукціону! Ти не можеш це пропустити!

        ul.planing__list
            li.planing__item
                .planing__item-wrapper.planing__item--star
                    img.planing__item-img(src="img/star.svg" alt="planing image")
                p.planing__item-text Патріотичний
                    br
                    | настрій

            li.planing__item
                .planing__item-wrapper.planing__item--cup
                    img.planing__item-img(src="img/cup.svg" alt="planing image")
                p.planing__item-text Food & Beverage

            li.planing__item
                .planing__item-wrapper.planing__item--net
                    img.planing__item-img(src="img/net.svg" alt="planing image")
                p.planing__item-text Networking

            li.planing__item
                .planing__item-wrapper.planing__item--auction
                    img.planing__item-img(src="img/auction.svg" alt="planing image")
                p.planing__item-text Аукціон

            li.planing__item
                .planing__item-wrapper.planing__item--disc
                    img.planing__item-img(src="img/disc.svg" alt="planing image")
                p.planing__item-text Український
                    br
                    | Dj-сет

            li.planing__item
                .planing__item-wrapper.planing__item--heart
                    img.planing__item-img(src="img/heart.svg" alt="planing image")
                p.planing__item-text Благодійний
                    br
                    | прояв
