section.program.block
  .container

    h2.program__title.title Програма виступів

    .program__heading
      picture
        source(type='image/webp' srcset='img/heading.webp')
        img.heading__img(src="img/heading.png" alt="heading" loading="lazy" width="306" height="306")

      .heading__info
        .heading__info-wrap
          span.heading__title Ведучий заходу
          p.heading__name Іван Заєць
          p.heading__position Кращий ведучий ever

    ul.program__speakers.speakers
      li.speaker__item

        .speaker-wrap__img.circle-shadow-green
          picture
            source(type='image/webp' srcset='img/speaker1.webp')
            img.speaker__img(src="img/speaker1.png" alt="speaker" loading="lazy" width="230" height="257")

        .speaker__info
          span.speaker__num.speaker__num--green Speaker
          .speaker__info-wrap
            p.speaker__name Віталій Стаценко
            p.speaker__position.speaker__position--green  owner Arbita

      li.speaker__item
        .speaker-wrap__img.circle-shadow-yellow
          picture
            source(type='image/webp' srcset='img/speaker2.webp')
            img.speaker__img(src="img/speaker2.png" alt="speaker" loading="lazy" width="264" height="246")

        .speaker__info
          span.speaker__num.speaker__num--yellow Speaker
          .speaker__info-wrap
            p.speaker__name Микита Петров
            p.speaker__position.speaker__position--yellow Co-founder ImproveTeam

      li.speaker__item
        .speaker-wrap__img.circle-shadow-rose
          picture
            source(type='image/webp' srcset='img/speaker3.webp')
            img.speaker__img(src="img/speaker3.png" alt="speaker" loading="lazy" width="216" height="240")

        .speaker__info
          span.speaker__num.speaker__num--rose Speaker
          .speaker__info-wrap
            p.speaker__name Михайло Субботін
            p.speaker__position.speaker__position--rose Affiliate manager Cosmolot


      li.speaker__item

        .speaker-wrap__img.circle-shadow-purple
          picture
            source(type='image/webp' srcset='img/speaker4.webp')
            img.speaker__img(src="img/speaker4.png" alt="speaker" loading="lazy" width="230" height="257")

        .speaker__info
          span.speaker__num.speaker__num--purple Speaker
          .speaker__info-wrap
            p.speaker__name Олександр Бойко
            p.speaker__position.speaker__position--purple CEO SalesDoubler


