section.promo
    .container
        .promo_left
            img.promo__logo(src="img/logo.png" alt="logo" width="220" height="48")

            h1.promo__title
                span.promo__title-first Сharity
                span.promo__title-second Affhub meetup
                span.promo__title-third Kyiv

            p.promo__support.text-bold Ми продовжуємо працювати та підтримуємо наших!

        .promo_right
            .promo__calendar
                img.promo__calendar-img(src="img/calendar.svg" alt="image")
                span.promo__calendar-text 16
                .promo_calendar-info
                    span.text-bold грудня
                    span 17:00

            p.promo__text
                | Запрошуємо тебе на&nbsp;
                span.text-bold новорічний арбітражний івент
                |  та масштабний благодійний аукціон!

            include timer

            .promo-btn__mob
                btn.promo__btn.btn.popupbtn Реєстрація

                span.promo__footnote.text-bold
                    span.color-red !
                    |  Вхід — Донат на благодійну банку Affhub



        .promo-btn__desk
            btn.promo__btn.btn.popupbtn Реєстрація

            span.promo__footnote.text-bold
                span.color-red !
                |  Вхід — Донат на благодійну банку Affhub

