section.purpose.block
    .container

        .purpose__wrapper
            h2.purpose__title.title
                span.bg-yellow Головна мета
                |  Сharity Affhub Meetup Kyiv  —


            p.purpose__text
                span.text-bold Це благодійний внесок, який робить кожен гість івенту
                br
                span.bg-green Вхід — донат на благодійну банку Affhub.
                br
                | А також ви можете зробити собі новорічний подарунок та одночасно підтримати наші Захисні сили України!