section.purpose.block
  .container
    .purpose__left
      h2.purpose__title.title Основний акцент заходу Meetup&nbsp;
        span.mark-green for Ukrainian
        |   Affiliate Community — це

      p.purpose__text Благодійний внесок, який робить кожен гість івенту. Вхід — будь-який донат на&nbsp;
        a(href="https://send.monobank.ua/jar/6y6MyX14Jt" target="_blank").purpose__accent.accent-rose благодійну банку Affhub.&nbsp;
        | Під завершення арбітражної зустрічі ми разом підрахуємо кошти та одразу відправимо на благодійність.
        | На яку саме? Дізнаємось на
        br
        span.text-bold Meetup for Ukrainian Affiliate Community!

    .purpose__rigth
      .purpose__img
        picture
          source(media='(max-width:1023px)' srcset='img/dot.jpg')
          img.purpose__code(src="img/qrcode.png" alt="image" loading="lazy" width="290" height="290")

      .purpose-btn__wrapper
        a(href="https://send.monobank.ua/jar/6y6MyX14Jt" target="_blank").purpose__btn.btn Зробити донат

        span.purpose__footnote Твiй внесок важливий!

