.registration.block#registration
    .container

        h2.registration__title
            span.bg-orange-dark Реєстрація
        h3.registration__sub-title Кількість місць обмеженна

        .registration__success
            h2.check-in__subtitle
                | Заявку на реєстрацію прийнято.
                br
                | Очікуйте, ми з вами зв'яжемося!

        .registration-block

            .registration__wrapper
                .loader-wrapper
                    .loader

                form#form.form.form-js(action='/' method='post' autocomplete="off")
                    label(for="name1") Ім’я:
                    .form__input--wrap
                        input.form__input.form__input--name.name-js(id="name1" placeholder="Ваше ім'я" type='text' name='name')
                        span.text__error Заповніть поле

                    label(for="telegram1") Telegram:
                    .form__input--wrap
                        input.form__input.form__input--telegram.telegram-js(id="telegram1" placeholder='@нiкнейм' type='text' name='telegram')
                        span.text__error Заповніть поле

                    label(for="email1") Email:
                    .form__input--wrap
                        input.form__input.form__input--email.email-js(id="email1" placeholder='Ваш email' type='email' name='email')
                        span.text__error Некоректна адреса, обов'язковий елемент @

                    p Позицiя:
                    .select.form__input--wrap.select-js(data-state='')

                        .select__title.form__input.select__title-js(data-default='owner / ceo') owner / ceo

                        .select__content
                            input#singleSelect0.select__input(type='radio' name='position' checked='' value="owner / ceo")
                            label.select__label.select__label-js(for='singleSelect0') owner / ceo

                            input#singleSelect5.select__input(type='radio' name='position' checked='' value="owner / ceo")
                            label.select__label.select__label-js(for='singleSelect5') owner / ceo

                            input#singleSelect1.select__input(type='radio' name='position' value="webmaster / mediabayer")
                            label.select__label.select__label-js(for='singleSelect1') webmaster / mediabayer

                            input#singleSelect2.select__input(type='radio' name='position' value="team lead")
                            label.select__label.select__label-js(for='singleSelect2') team lead

                            input#singleSelect3.select__input(type='radio' name='position' value="affiliate manager")
                            label.select__label.select__label-js(for='singleSelect3') affiliate manager

                            input#singleSelect4.select__input(type='radio' name='position')
                            label.select__label.select__label-js(for='singleSelect4') інше: вказати

                    .form__input-inner.form__input--wrap.hidden
                        input.form__input.form__input--email.position-js(id="test" placeholder='Вкажiть вашу позицiю' type='text' name="test")
                        span.text__error Заповніть поле


                    p Vertical:
                    .select.form__input--wrap.vertical-js(data-state='')

                        .select__title.form__input.vertical__title-js(data-default='Nutra') Nutra

                        .select__content
                            input#verticalSelect0.select__input(type='radio' name='vertical' checked='' value="Nutra")
                            label.select__label.vertical__label-js(for='verticalSelect0') Nutra

                            input#verticalSelect4.select__input(type='radio' name='vertical' checked='' value="Nutra")
                            label.select__label.vertical__label-js(for='verticalSelect4') Nutra

                            input#verticalSelect1.select__input(type='radio' name='vertical' value="Gambling")
                            label.select__label.vertical__label-js(for='verticalSelect1') Gambling

                            input#verticalSelect2.select__input(type='radio' name='vertical' value="Crypta")
                            label.select__label.vertical__label-js(for='verticalSelect2') Crypta

                            input#verticalSelect3.select__input(type='radio' name='vertical')
                            label.select__label.vertical__label-js(for='verticalSelect3') Other

                    .vertical__input-inner.form__input--wrap.hidden
                        input.form__input.form__input--email.vertical-position-js(id="test2" placeholder='Cвій варіант' type='text' name="test2")
                        span.text__error Заповніть поле


                    input.js-input-date(type='hidden' name='time')

                    button.btn.form__btn Надiслати