.sponsors.block
  .container
    h2.sponsors__title.title Sponsors:

    .sponsors__wrapper
      ul.sponsors__list.sponsors__list--first

        li.sponsors__item.accent-shadow-purple
          a(href="https://adscobar.com/?utm_source=affhub.event" target="_blank")
            img(src="img/adscobar_logo.png" alt="sponsor" width="178" height="64")
        li.sponsors__item.accent-shadow-yellow
          a(href="https://everad.com/?utm_source=event--affhub-charity" target="_blank")
            img(src="img/everad-logo.png" alt="sponsor" width="181" height="37")

        li.sponsors__item.accent-shadow-yellow
          a(href="https://pdl-profit.com/?utm_source=affhub_jul_22" target="_blank")
            img(src="img/logo-pdl-profit-dark.svg" alt="sponsor")


        li.sponsors__item.accent-shadow-rose
          a(href="https://link.axela.network/3nmFvi9" target="_blank")
            img(src="img/axela-logo.png" alt="sponsor" width="120" height="44")

      ul.sponsors__list.sponsors__list--second

        li.sponsors__item.accent-shadow-green
          a(href="https://cosmolot.partners/?utm_source=event&utm_medium=AffHub&utm_campaign=AffHub" target="_blank")
            img(src="img/cosmolot-logo.png" alt="sponsor" width="156" height="54")
        li.sponsors__item.accent-shadow-orange
          a(href="https://cmaffs.com/?p=3T4SFLM1" target="_blank")
            img(src="img/affiliates-logo.png" alt="sponsor" width="156" height="47")
        li.sponsors__item.accent-shadow-black
          a(href="https://salesdoubler.pro/?utm_source=affplus&utm_medium=referral&utm_campaign=promo-main&utm_term=&utm_content=trigger" target="_blank")
            img(src="img/sd-logo.png" alt="sponsor" width="96" height="90")


