.sponsors.block
  .container
    h2.sponsors__title.title
      span.bg-green-dark Sponsors:

    ul.sponsors__list

      li.sponsors__item
        a(href="" target="_blank")
          img(src="img/everad.png" alt="sponsor")

      li.sponsors__item
        a(href="" target="_blank")
          img(src="img/affiliates.png" alt="sponsor")

      li.sponsors__item
        a(href="" target="_blank")
          img(src="img/adscobar.png" alt="sponsor")

      li.sponsors__item
        a(href="" target="_blank")
          img(src="img/theaff.png" alt="sponsor")

      li.sponsors__item
        a(href="" target="_blank")
          img(src="img/profit.png" alt="sponsor")

      li.sponsors__item
        a(href="" target="_blank")
          img(src="img/improve.png" alt="sponsor")