section.sponsors.block
  .container
    h2.sponsors__title.title
      span.bg-green-dark Sponsors:

    ul.sponsors__list

      li.sponsors__item
        a(href="https://everad.com/?utm_source=event--affhub-charity" target="_blank")
          img(src="img/everad.png" alt="sponsor")

      li.sponsors__item
        a(href="https://v.gd/SYBDvv" target="_blank")
          img(src="img/affiliates.png" alt="sponsor")

      li.sponsors__item
        a(href="https://adscobar.com/?utm_source=affhub.event" target="_blank")
          img(src="img/adscobar.png" alt="sponsor")

      li.sponsors__item
        a(href="http://theaff.io/?utm_source=affhub" target="_blank")
          img(src="img/theaff.png" alt="sponsor")

      li.sponsors__item
        a(href="https://pdl-profit.com/?utm_source=affhub&utm_medium=banner&utm_campaign=site" target="_blank")
          img(src="img/profit.png" alt="sponsor")

      li.sponsors__item
        a(href="https://t.me/improveteam?utm_source=site&utm_medium=event_affhub&utm_campaign=improveteam" target="_blank")
          img(src="img/improve.png" alt="sponsor")