.team.block
    .container
        h2.team__title.title
            span.bg-yellow Зв’язатися з командою
            |  з приводу спонсорства та медіа підтримки


        ul.team__list
            li.team__item

                .team-wrap__img
                    img.team__img(src="img/vika.png" alt="speaker" loading="lazy" width="287" height="277")

                .team__info
                    .team__info-wrap
                        p.team__name Вiкторiя Маслова
                        p.team__position Head of Affhub

                a.team__btn(href="https://t.me/Viktoriia_cpa" target="_blank") @Viktoriia_cpa



            li.team__item.team__item--second

                .team-wrap__img
                    img.team__img(src="img/vika_2.png" alt="speaker" loading="lazy" width="305" height="295")

                .team__info
                    .team__info-wrap
                        p.team__name Вiкторiя Онищенко
                        p.team__position Team Lead of Events

                a.team__btn(href="https://t.me/Viktoriya_cpa" target="_blank") @Viktoriya_cpa


            li.team__item

                .team-wrap__img
                    img.team__img(src="img/alina.png" alt="speaker" loading="lazy" width="307" height="271")

                .team__info
                    .team__info-wrap
                        p.team__name Алiна
                            br
                            |  Балич
                        p.team__position PR Manager

                a.team__btn(href="https://t.me/balich_li" target="_blank") @balich_li



            li.team__item

                .team-wrap__img
                    img.team__img(src="img/nika.png" alt="speaker" loading="lazy" width="307" height="271")

                .team__info
                    .team__info-wrap
                        p.team__name веронiка бодюк
                        p.team__position Event Manager

                a.team__btn(href="https://t.me/Veronika_Bodiuk" target="_blank") @Veronika_Bodiuk

