.team.block
  .container
    h2.team__title.title Зв’язатися з&nbsp;командою з&nbsp;приводу&nbsp;
      span.team__subtitle.mark-purple
        | спонсорства та
      span.mark-purple
        | медіа підтримки

    ul.team__list
      li.team__item.team__item--first

        a(href="https://t.me/Viktoriia_cpa" target="_blank")
          .team-wrap__img.circle-shadow-purple
            img.team__img(src="img/vika.png" alt="speaker" loading="lazy" width="287" height="277")

        .team__info
          .team__info-wrap
            p.team__name Вiкторiя Маслова
            p.team__position.team__position--purple Head of Affhub


      li.team__item.team__item--second

        a(href="https://t.me/Viktoriya_cpa" target="_blank")
          .team-wrap__img.circle-shadow-rose
            img.team__img(src="img/vika_2.png" alt="speaker" loading="lazy" width="305" height="295")

        .team__info
          .team__info-wrap
            p.team__name Вiкторiя Онищенко
            p.team__position.team__position--rose  Team Lead of Events


      li.team__item
        a(href="https://t.me/balich_li" target="_blank")

          .team-wrap__img.circle-shadow-yellow
            img.team__img(src="img/alina.png" alt="speaker" loading="lazy" width="307" height="271")

        .team__info
          .team__info-wrap
            p.team__name Алiна Балич
            p.team__position.team__position--yellow  SMM Manager

