.timer
    .timer__block
        .timer__top
            .timer__el.days 0
        span.timer__text днiв
    .timer__dots
        .timer__dot
        .timer__dot
    .timer__block
        .timer__top
            .timer__el.hours 0
        span.timer__text годин
    .timer__dots
        .timer__dot
        .timer__dot
    .timer__block
        .timer__top
            .timer__el.minutes 0
        span.timer__text хвилин

