.timer
    .timer__block
        .timer__top
            .timer__el.days
        span.timer__text днiв
    .timer__dots
        .timer__dot
        .timer__dot
    .timer__block
        .timer__top
            .timer__el.hours
        span.timer__text годин
    .timer__dots
        .timer__dot
        .timer__dot
    .timer__block
        .timer__top
            .timer__el.minutes
        span.timer__text хвилин

    .timer__block
        .timer__top
            .timer__el.seconds
        span.timer__text секунд

