$color-variable-example: crimson;
$text-cariable-example: "All Hail The Crimson King";

$main-font: "Montserrat", Helvetica, sans-serif;

//colors
$red: #ED534B;
$red-light: #FBD4D2;
$yellow: #ffe600;
$yellow-light: #FFEAC0;
$rose: #FF57C6;
$rose-light: #FFD5F1;
$purple: #9F72FF;
$purple-light: #E9DFFF;
$green: #10E6D9;
$green-light: #C4F9F6;
$blue: #001aff;
$orange-light: #FF5959;






